*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
    font-size: 34px;
    /* background-color: rgb(85, 148, 203); */
}
.header{
    position: relative;
    text-align: center;
}
.header img{
    width: 100%;
}
.text{
    position: absolute;
    left: 380px;
    top: 84px;
}
.text span{
    font-size: 28px;
    background-color: rgb(197, 211, 117);
}
.text h3{
text-align: center;
margin-top: 20px 30px;
padding: 20px 30px;
position: relative;
color: white;
}
.text h2{
    color: white;
}
.sect1 {
    background-color: black;
    color: white;
    text-align: center;
    /* margin: 12px 25px; */
    padding: 20px 30px;

}
.sect1 h3{
    font-size: 75px;
}
.sect1 strong{
    font-size: larger;
}
.sectionclass{
    display: flex;
    flex-direction: row;
    margin: 15px 20px;
    padding: 15px 20px;
    background-color: aliceblue;
}
.section1{
    margin: 10px;
    padding: 10px;

}
.section1 img{
    height: auto;
    padding: 15px;
    margin: 15px;
}
.section1 p{
    font-size: 18px;
    background-color: azure;
    margin: 15px 20px;
}
.section1 h3{
    text-align: left;
    margin: 15px;
}
.information{
    display: flex;
    flex-direction: row;
    /* margin: 25px 20px; */
    /* padding: 25px 25px; */
}
.first{
    background-color: brown;
    text-align: center;
   
}
.second{
    background-color: cadetblue;
    text-align: center;
}
.first p{
    text-align: center;
    font-size: 28px;

}
.second p{
    text-align: center;
    font-size: 28px;
}